<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VkMusicPekadev</title>
    <link href="/styles/vendors.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script src="/scripts/vendors.js" type="text/javascript"></script>
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body ng-controller="appController as apc">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button class="btn btn-primary navbar-btn" ui-sref="main"><i class="fa fa-home"></i></button></li>
        <button class="btn btn-primary navbar-btn" ui-sref="playlists">Плейлисты</button></li>
        <button class="btn btn-primary navbar-btn" ng-hide="apc.isAuthorized" ng-click="apc.login()">
            <i class="fa fa-vk"></i>
            <span>Войти</span>
        </button>
        <span ng-if="apc.isAuthorized" class="pull-right">
            <img class="img-circle hidden-xs" ng-src="{{apc.userInfo.photo_50}}" alt="">
            <span class="hidden-xs" ng-bind="apc.userInfo.last_name"></span>
            <span class="hidden-xs" ng-bind="apc.userInfo.first_name"></span>
            <button class="btn btn-primary navbar-btn" ng-click="apc.logout()">
                <i class="fa fa-vk"></i>
                <span>Выйти</span>
            </button>
        </span>
    </div>
</nav>
<div class="container" ng-if="apc.isAuthorized" ui-view>
</div>
</body>
</html>
