<header class="col-xs-12 text-center">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-model="trc.byArtist" uib-btn-checkbox
                    btn-checkbox-true="1" btn-checkbox-false="0">
                <i class="fa fa-users"></i>
            </button>
        </span>
        <input type="text" class="form-control" placeholder="Поиск аудиозаписей" ng-model="trc.pattern" on-enter="goToAudioSearch(true)">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="goToAudioSearch(true)" ng-disabled="!trc.pattern">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
<div ng-if="trc.paging.totalItems > trc.paging.itemsPerPage">
    <ul uib-pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-model="trc.paging.currentPage"
        ng-change="onPageChanged()"
        total-items="trc.paging.totalItems"
        items-per-page="trc.paging.itemsPerPage"
        max-size="trc.paging.maxSize"
        boundary-links="true">
    </ul>
</div>
<!--<div class="row">-->
    <!--<span class="pull-left" ng-bind="trc.paging.totalPagesCaption"></span>-->
    <!--<span class="pull-right" ng-bind="trc.paging.totalItemsCaption"></span>-->
<!--</div>-->
</header>
<track-grid tracks="audios"></track-grid>