<div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <button type="button" class="btn btn-primary" ui-sref="main.my">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    Мои аудиозаписи
                </button>
                <button class="btn btn-primary" ui-sref="main.recommended">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    Мои рекомендации
                </button>
                <button class="btn btn-primary" ui-sref="main.popular">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    Популярное
                </button>
            </div>
            <div class="row">
                <div class="input-group">
                    <span class="input-group-addon">
                        <label>
                            <i class="fa fa-users"></i>
                        </label>
                        <input type="checkbox" aria-label="..." ng-model="trc.byArtist">
                    </span>
                    <input type="text" class="form-control" placeholder="Поиск аудиозаписей" ng-model="trc.pattern" on-enter="goToAudioSearch(true)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="goToAudioSearch(true)" ng-disabled="!trc.pattern">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
     <ul uib-pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        ng-model="trc.paging.currentPage"
        ng-change="trc.loadGrid()"
        total-items="trc.paging.totalItems"
        items-per-page="trc.paging.itemsPerPage"
        max-size="trc.paging.maxSize"
        boundary-links="true">
    </ul>
    <div class="row">
        <span class="pull-left" ng-bind="trc.paging.totalPagesCaption"></span>
        <span class="pull-right" ng-bind="trc.paging.totalItemsCaption"></span>
    </div>
    <track-grid tracks="audios"></track-grid>
</div>