<div class="col-xs-12 audio-grid">
    <table class="table">
        <colgroup>
            <col>
            <col width="55px">
            <col width="55px">
        </colgroup>
        <tbody>
            <tr ng-repeat="audio in tracks"
                ng-click="tgc.play(audio, $index)"
                ng-class="{'playing': record.id === audio.id && audio.playing}">
                <!--<td>-->
                    <!--<span class="fa fa-play"-->
                          <!--ng-show="record.id !== audio.id || !audio.playing"-->
                          <!--ng-click="tgc.play(audio, $index)"></span>-->
                    <!--<span class="fa fa-pause"-->
                          <!--ng-show="record.id === audio.id && audio.playing"-->
                          <!--ng-click="tgc.pause(audio)"></span>-->
                <!--</td>-->
                <td>
                    <a class="track-artist"
                          ng-bind="audio.artist"
                          title="{{audio.artist}}"
                          ng-click="tgc.searchByArtist(audio.artist)"></a>
                    -
                    <span ng-bind="audio.title" title="{{audio.title}}"></span>
                </td>
                <td>
                    <span ng-bind="audio.duration | pekaDuration"></span>
                </td>
                <td>
                    <a ng-href="{{audio.url}}" download="" title="Скачать">
                        <i class="fa fa-download"></i>
                    </a>
                    <a ui-sref="track({ trackId: audio.owner_id + '_' + audio.id })" title="Ссылка на трек">
                        <i class="fa fa-share"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="audio-controls col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <progress id="progress-control" class="progress-control" min="0" max="1" ng-value="record.progress"></progress>
        </div>
        <div class="col-xs-12">
            <div class="playback-buttons">
                <button class="btn btn-sm btn-default" ng-click="tgc.previousTrack()" ng-disabled="!tracks || tracks.length === 0">
                    <span class="fa fa-step-backward"></span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="tgc.toggle()" ng-disabled="!tracks || tracks.length === 0">
                    <span class="fa" ng-class="{'fa-play': !record.playing, 'fa-pause': record.playing}"></span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="tgc.nextTrack()" ng-disabled="!tracks || tracks.length === 0">
                    <span class="fa fa-step-forward"></span>
                </button>
                <button class="btn btn-sm btn-default" ng-class="{'active': repeatMode}" ng-click="repeatMode = !repeatMode">
                    <span class="fa fa-repeat"></span>
                </button>
            </div>
            <div class="track-info">
                <div class="marquee" ng-show="record.data">
                    <span ng-bind="record.author"></span>
                    <span>&#8212</span>
                    <span ng-bind="record.title"></span>
                </div>
            </div>
            <!--<slider min="0" max="1" step="0.01" model="volume"></slider>-->
        </div>
    </div>
</div>