@main-color: #337ab7;
@main-color-hover: lighten(@main-color, 20%);

body {
  padding: 80px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .row {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  body { padding-top: 150px; }
}

.pekadev-audio-grid {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;

  @media screen and (max-width: 768px) {
    tr {
      height: 60px;

      td {
        .glyphicon {
          font-size: 30px;
        }
      }
    }
  }

  tr {

    th, td {
      vertical-align: middle !important;
    }

    th {
      text-align: center;
    }

    td {
      .glyphicon {
        font-size: 24px;
        color: @main-color;

        &:hover {
          cursor: pointer;
          color: @main-color-hover;
        }
      }
    }
  }
}

.pekadev-playlists {
  .glyphicon {
    color: @main-color;
    font-size: 24px;

    &:hover {
      color: @main-color-hover;
      cursor: pointer;
    }
  }

  a {
    margin-right: 10px;
  }
}

.peka-grid-paging {

}

a {
  color: #00B7FF;
}

table {
  position: relative;

  th {
    position: relative;
  }
}

.draggable-edge {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 10px;
  height: 100%;
  border: 1px solid springgreen;
  content: '';

  &:hover {
    cursor: e-resize;
    color: red;
  }
}
