@main-color: #337ab7;
@main-color-hover: lighten(@main-color, 20%);

body {
  padding: 80px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .row {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  body { padding-top: 150px; }
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

.audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  padding: 10px 40px 0 40px;

  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: white;

  .track-info {
    margin: 0 auto;
    vertical-align: middle;

    font-size: 24px;
  }
}


.progress-control {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0,0,0,.5) inset;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.progress-control::-webkit-progress-value  {
  background-color: @main-color;
  border-radius: 3px;
}

.progress-control::-moz-progress-bar {
  background-color: @main-color;
  border-radius: 3px;
}

.pekadev-audio-grid {
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;

  @media screen and (max-width: 768px) {
    tr {
      height: 60px;
      td {
        .glyphicon {
          font-size: 30px;
        }
      }
    }
  }

  tr {

    th, td {
      vertical-align: middle !important;
    }

    th {
      text-align: center;
    }

    td {
      .glyphicon {
        font-size: 24px;
        color: @main-color;

        &:hover {
          cursor: pointer;
          color: @main-color-hover;
        }
      }
    }
  }
}

.pekadev-playlists {
  .glyphicon {
    color: @main-color;
    font-size: 24px;

    &:hover {
      color: @main-color-hover;
      cursor: pointer;
    }
  }

  a {
    margin-right: 10px;
  }
}

.peka-grid-paging {

}

a {
  color: #00B7FF;
}

table {
  position: relative;

  th {
    position: relative;
  }
}

.draggable-edge {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 10px;
  height: 100%;
  border: 1px solid springgreen;
  content: '';

  &:hover {
    cursor: e-resize;
    color: red;
  }
}
