<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title><%= appTitle %></title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body ng-controller="appController as apc">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= appTitle %></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/playlists">Playlists</a></li>
        </ul>
         <button type="button" class="btn btn-default navbar-btn" ng-hide="apc.isAuthorized" ng-click="login()">Войти</button>
        <form class="navbar-form navbar-right" ng-if="apc.isAuthorized">
            <img class="img-circle" ng-src="{{userInfo.photo_50}}" alt="">
            <span ng-bind="userInfo.last_name"></span>
            <span ng-bind="userInfo.first_name"></span>
        </form>
    </div>
</nav>
<div class="container-fluid" ng-view>

</div>
</body>
</html>
