<div class="row">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <input type="button" class="btn btn-primary" ng-click="getAudioList()" value="Загрузить список моих аудиозаписей"/>
                <button class="btn btn-primary" ng-click="getPopularList()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Популярное
                </button>
            </div>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск аудиозаписей" ng-model="trc.pattern">
                    </div>
                    <input type="button" class="form-control" value="Искать" ng-click="audioSearch()" ng-disabled="!trc.pattern">
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <form class="form-inline">
                    <div class="form-group pull-right">
                        <span class="form-control" ng-bind="audioPlayer.currentTime | trackTime"></span>
                        <input class="form-control" type=range min=0 max=1 step=0.01 ng-model="audioPlayer.progress"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <form class="form-inline">
                    <div class="form-group pull-right">
                        <label for="volume-control">Громкость</label>
                        <input id="volume-control" class="form-control" type=range min=0 max=1 step=0.01 ng-model="audioPlayer.volume"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row peka-audio-grid">
        <table class="table table-bordered table-condensed">
            <tr>
                <th></th>
                <th>Исполнитель</th>
                <th>Название</th>
                <th>Длительность</th>
                <th>Ссылка</th>
            </tr>
            <tr ng-repeat="audio in audios">
                <th><span class="glyphicon" ng-class="{'glyphicon-pause' : audio.playing, 'glyphicon-play': !audio.playing }" ng-click="togglePlayback(audio)"></span></th>
                <td ng-bind="audio.artist"></td>
                <td ng-bind="audio.title"></td>
                <td class="text-center" ng-bind="audio.duration | trackTime"></td>
                <td class="text-center"><a ng-href="{{audio.url}}" download="">Скачать</a></td>
            </tr>
        </table>
    </div>
    <div class="peka-grid-paging">
        <div class="row">
            <span class="pull-left" ng-bind="trc.paging.totalPagesCaption"></span>
            <span class="pull-right" ng-bind="trc.paging.totalItemsCaption"></span>
        </div>
        <uib-pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-model="trc.paging.currentPage"
                        ng-change="trc.loadGrid()"
                        total-items="trc.paging.totalItems"
                        items-per-page="trc.paging.itemsPerPage"
                        max-size="trc.paging.maxSize"
                        boundary-links="true"></uib-pagination>
    </div>
</div>